server:
  port: 8082

spring:
  application:
    name: hotel-service

  datasource:
    url: jdbc:postgresql://localhost:5432/app_db
    username: Hotel
    password: Hotel
    hikari:
      schema: app_schema
      connection-init-sql: CREATE SCHEMA IF NOT EXISTS app_schema
      connection-timeout: 10000

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none

  data:
    mongodb:
      uri: mongodb://root:root@localhost:27017/appdatabase?authSource=admin

  liquibase:
    enabled: true
    change-log: classpath:db/db.changelog-master.yaml

  main:
    allow-circular-references: true

app:
  init:
    sql:
      enabled: false  # true — включить выполнение SQL-скрипта при старте

  security:
    type: db

topics: { booking: booking-service, user: user-service }